<header class="header">
      
      <div class="overlay"></div>
      <div class="container">
        <%= render 'layouts/header'%>
      </div>

</header>

<div class="index">
	<h1 class="text-center">Category We Support</h1>
	<div class="category" id="category">
		<div class="container">
			<div class="row category-left">
	   			<div class="col-lg-4 col-md-4 col-sm-12">
	    			<img src="/images/category/1.png" class="img-fluid">
	   			</div>
	   			<div class="col-lg-8 col-md-8 col-sm-12 desc">
				    <h3>Bimbingan Belajar</h3>
				    <p>
				       Menerima panggilan untuk Mata Pelajaran UN(Matematika, Fisika, Biologi, Kimia, Bahasa Indonesia, Bahasa Inggris) untuk SMP atau SMA.
				    </p>
			   </div>
			</div>
			<div class="row category-right">
				<div class="col-lg-8 col-md-8 col-sm-12 desc">
				    <h3>Asisten Rumah Tangga</h3>
				    <p>
				       Melayani panggilan untuk pekerjaan domestik ( menyapu, mengepel & membersihkan kamar mandi).
				    </p>
			    </div>
			   	<div class="col-lg-4 col-md-4 col-sm-12">
			    	<img src="/images/category/2.png" class="img-fluid">
			   	</div>
	   
			</div>
			<div class="row category-left">
			    <div class="col-lg-4 col-md-4 col-sm-12">
			  		<img src="/images/category/3.png" class="img-fluid">
			    </div>
	   			<div class="col-lg-8 col-md-8 col-sm-12 desc">
				    <h3>Montir</h3>
				    <p>
				       Menerima panggilan untuk keadaan darurat (mogok).
				    </p>
			    </div>
			</div>
		</div>
	</div>
	
	<h1 class="text-center">Who Are We ?</h1>
	<div class="about" id="about">
		<div class="container">
			<div class="row">
				<h3 class="text-center">Kami disini untuk membantu</h3>
				<p class="text-center">
					Kami adalah sekelompok orang yang ingin memberikan bantuan kepada mereka yang memiliki masalah.
					Kami membantu dengan menyediakan layanan yang dapat menghubungkan anda dengan seorang ahli yang dapat menyelesaikan masalah anda
				</p>
			</div>
		</div>
	</div>
</div>