/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap";

@font-face {
  font-family: "Mercy";
  src: url(/assets/Mercy.ttf) format("truetype");
  font-family: "Quickat";
  src: url(/assets/Quickat-Script.ttf) format("truetype");
}

/*body style*/
body {
 /*font-family: "Mercy";*/
 background: rgba(10,10,10,0);
}

/*Homepage style*/
.row{
 background: rgba(244,244,244,0.90);
 border-radius: 10px;
 padding: 2em;
 margin: 2em;
}
.category{
 background-image: url('../images/categoryback.jpg');
 background-attachment: fixed;
 background-size: cover;
 background-position: center;
 max-height: 100%; 
 position: relative;
}
.category .container{
 padding: 4em;
}

.index h1{
 color:#F97300;
 margin: 2em;
}
.category img{
 height: 100%;
 width: 100%;
}
.category-left .desc{
 padding: 2em;
 border-left:4px solid #10828C;
}
.category-right .desc{
 padding: 2em;
 border-right:4px solid #10828C;
}

.desc h3{
 color: #10828C;
}
.desc p{
 line-height:2;
 color:#888;
}

.about {
 background-image: url('../images/aboutback.jpg');
 background-attachment: fixed;
 background-size: cover;
 background-position: center;
 max-height: 100%;
 margin: 4em 0;
 padding: 1em;
 position: relative;
}
.about .desc{
 padding: 2em;
}

.about h1{
 color:#F97300 ;
 margin: 2em;

}
.about h3{
 margin: auto;
}

.about img{
 height: 100%;
 width: 100%;
}

/*header style*/
.header{
 background-image: url('../images/headerback.jpg');
 background-attachment: fixed;
 background-size: cover;
 background-position: center;
 max-height: 100%;
}

.overlay{ 
 height: 100%;
 min-height: 100%;
 min-width: 100%;
 left: 0;
 top: 0;
 background: rgba(11, 11, 11, 0.1);
}

.description{
 position: absolute;
 top: 30%;
 margin: auto;
 padding: 2em;
}
.description h3{
 color:#F97300 ;
}
.description p{
 color:white;
 font-size: 20px;
 width: 50%;
 line-height: 1.5;
}
.description button{
 border:1px  solid #F97300;
 background:#F97300;
 color:#fff;
}

/*navbar style*/
.navbar{
 background:#f97300;
}
.navpad{
 padding-top: 3.5em;
}
.nav-link , .navbar-brand{
 color: white;
 cursor: pointer;
}
.nav-link{
 margin-right: 1em !important;
}
.nav-link:hover{
 background: #f4f4f4;
 color: #f97300;
}
.navbar-brand{
 font-family: "Quickat";
}
.navbar-collapse{
 justify-content: flex-end;
}
.navbar-toggler{
  background:#fff !important;
}
.navbar-collapse{
 justify-content: flex-end;
}
.bg-dark{
background-color:#343a40!important
}
.bg-primary{
background-color:#007bff!important
}