<nav class="navbar navbar-expand-lg fixed-top ">
   <a class="navbar-brand" href="#">Bantu beta beta bantu</a>
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
     <span class="navbar-toggler-icon"></span>
   </button>

<div class="collapse navbar-collapse " id="navbarSupportedContent">
     <ul class="navbar-nav mr-4">
       
       <li class="nav-item">
         <a class="nav-link" href="#">Login</a>
       </li>
       <li class="nav-item">
         <a class="nav-link " href="#">Register</a>
       </li>
     </ul>
     
   </div>
</nav>
